{% extends "base.html" %}

{% block title %}
Thermos - Add Bookmark.
{% endblock %}

{% block content %}

    <section>
        <h1>Add a new URL</h1>
        <form action="">
            <table>
                <tr>
                    <td><label for="bookmark">>Add URL</label></td>
                    <td><input type="text" id="bookmark"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button>Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>

{% endblock %}

{% block sidebar %}
{% endblock %}