{% extends "base.html" %}

{% block title %}
Thermos - welcome.
{% endblock %}

{% block content %}

<article>
    <header>
        <h1>welcome</h1>
        <p>Theremos is a simple bokmarking site</p>
    </header>
    <section>
        <h2>Recently Added</h2>
        {% if bookmarks %}
        <ul>
            {% for bm in bookmarks %}
            <li>{{ bm.user }} added
                <a href="{{ bm.url }}" target="_blank">
                    {% if bm.description %}
                        {{ bm.description }}
                    {% else %}
                        {{ bm.url }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            No bookmarks yet.
        {% endif %}

    </section>
</article>


{% endblock %}