<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thermos</title>
</head>
<body>

    <h1>Moja Super Stronka</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, praesentium.</p>
h1-h7 -> headline
p -> paragraph
a - anchor
img -> image
section -> section
article -> article
form -> formularz
button -> przycisk
input - wprowadzanie danych
nav -> navigation
table -> tabelka
div -> kontener
span -> liniowy kontener

<div class="jakaś-klasa" id="someidentificator">
    <span>
        tekst
    </span>
</div>

</body>
</html>